[Unit]
Description=Package Entrophy Tracker

[Service]
ExecStart=/srv/pet.debian.net/pet-serve
ExecStop=/srv/pet.debian.net/pet-service stop

[Install]
WantedBy=default.target
